<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<!-- Footer -->
<footer id="footer" class="footer">
    <div class="footer--cnt">
        <div class="footer--item">
            <a href="/home">
                <div class="footer--content">
                    <img src="/images/home.png" alt="Home" th:classappend="${nav == 'home'} ? 'selected'">
                </div>
                <p>Home</p>
            </a>
        </div>
        <div class="footer--item">
            <a href="/rank">
                <div class="footer--content">
                    <img src="/images/star.png" alt="Rank" th:classappend="${nav == 'rank'} ? 'selected'">
                </div>
                <p>Rank</p>
            </a>
        </div>
        <div class="footer--item">
            <a href="#" id="mypageLink">
                <div class="footer--content">
                    <img src="/images/user.png" alt="My Page" th:classappend="${nav == 'mypage'} ? 'selected'">
                </div>
                <p>My page</p>
            </a>
        </div>
    </div>
</footer>
</body>
</html>

<script type="text/javascript" th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        const userUUID = localStorage.getItem("userUUID");
        if (userUUID) {
            document.getElementById('mypageLink').href = '/mypage?uuId=' + userUUID;
        }
    })
</script>