<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<!-- Footer -->
<footer id="footer" class="footer">
    <div class="footer--cnt">
        <div class="footer--item">
            <a href="#">
                <span>🏠</span>
                <p>Home</p>
            </a>
        </div>
        <div class="footer--item">
            <a href="#">
                <span>🎁</span>
                <p>Tab1</p>
            </a>
        </div>
        <div class="footer--item">
            <a href="#">
                <span>👤</span>
                <p>Tab2</p>
            </a>
        </div>
    </div>
</footer>
</body>
</html>