<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<!-- Footer -->
<footer id="footer" class="footer">
    <div class="footer--cnt">
        <div class="footer--item">
            <a href="/home">
                <div class="footer--content">
                    <img src="/images/home.png" alt="Home" th:classappend="${nav == 'home'} ? 'selected'">
                </div>
                <p>Home</p>
            </a>
        </div>
        <div class="footer--item">
            <a href="/rank">
                <div class="footer--content">
                    <img src="/images/star.png" alt="Rank" th:classappend="${nav == 'rank'} ? 'selected'">
                </div>
                <p>Rank</p>
            </a>
        </div>
        <div class="footer--item">
            <a href="/mypage" id="mypageLink">
                <div class="footer--content">
                    <img src="/images/user.png" alt="My Page" th:classappend="${nav == 'mypage'} ? 'selected'">
                </div>
                <p>My page</p>
            </a>
        </div>
    </div>
</footer>
</body>
</html>

<script type="text/javascript" th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        const myPageLink = document.getElementById('mypageLink');
        const token = localStorage.getItem("token");
        console.log(token);
        myPageLink.addEventListener('click', function(event) {
            event.preventDefault(); // 기본 클릭 동작 방지
            if (token) {
                console.log("token 존재")
                fetch('/mypage', {
                    method: 'GET',
                    headers: {
                        'Authorization': `Bearer ${token}`
                    }
                })
                    .then(response => response.text()) // HTML 응답 받기
                    .then(html => {
                        // 받은 HTML을 페이지에 렌더링
                        document.open();
                        document.write(html);
                        document.close();
                    })
                    .catch(error => console.error('Error:', error));
            } else {
                location.href="/mypage"
            }
        });
    });
</script>