<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="android-touch-icon" sizes="72x72" th:href="@{/images/android-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/apple-icon-72x72.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon-32x32.png}">
</head>
<body>
<!-- Header -->
<header class="header whiteBg" id="header">
    <div class="header--cnt">
        <div class="header--icon">
            <button class="icon-button">
                <span class="menu-icon"></span>
            </button>
        </div>
        <div class="header--logo">
            <img src="/images/tonglink-textlogo-white.png" alt="서비스명 로고" class="header--logo-img">
        </div>
        <div class="header--icon">
            <button class="icon-button">
                <span>버튼</span>
            </button>
        </div>
    </div>
</header>
</body>
</html>