<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TongLink</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="android-touch-icon" sizes="72x72" th:href="@{/images/android-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/icons/icon-128x128-v2.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon-32x32.png}">
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="manifest" th:href="@{/manifest.json}">
    <script th:src="@{/js/user.js}" defer></script>
    <script th:src="@{/js/chart.js}" defer></script>
    <script th:src="@{/js/reload.js}" defer></script>
    <script th:src="@{/js/index-modal.js}" defer></script>
    <script th:src="@{/js/tonglink-list.js}" defer></script>
    <script th:src="@{/js/service-worker.js}" defer></script>
    <meta name="theme-color" content="#262626">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div id="splash-screen" class="splash-screen">
    <div class="splash-content">
        <img src="/images/tonglink-splash-white.png" alt="서비스 로고" class="splash-logo">
    </div>
</div>
<div class="app-container">
    <main class="main-content">
        <section class="profile-section">
            <div class="header-logo">
                <img src="/images/tonglink-logo-white.png" alt="서비스명 로고" class="header&#45;&#45;logo-img">
                <img src="/images/tonglink-textlogo-white.png" alt="서비스명 로고" class="header&#45;&#45;logo-img">
            </div>
            <p class="profile-subtitle">조회 통계를 내고 싶은 링크를 입력하면, <br>오늘부터 바로 통계를 확인하실 수 있어요! 😁</p>
            <p class="profile-description"></p>
        </section>
        <section class="stats-section">
            <div class="stats-card">
                <canvas id="stats-chart" width="400" height="200"></canvas>
            </div>
        </section>
        <div class="gray-bar-wrapper">
            <div class="gray-bar"></div>
        </div>
        <section class="popular-section" style="margin-top: 30px;">
            <div class="popular-header">
                <h2>나의 통링</h2>
                <button class="floating-button" id="open-modal">+</button>

                <!-- Modal -->
                <div class="modal-overlay" id="modal">
                    <div class="modal-content">
                        <h2 class="modal-title">통링 생성</h2>
                        <form id="link-form">
                            <label for="title">제목</label>
                            <input type="text" id="title" name="title" placeholder="링크 제목을 입력하세요" required maxlength="50">

                            <label for="originUrl">원본 URL</label>
                            <input type="text" id="originUrl" name="originUrl" placeholder="https://example.com" required>

                            <!-- New color picker -->
                            <label for="color">그래프 색상</label>
                            <input type="color" id="color" name="color" value="#ff0000">

                            <label>노출 여부 <span class="label-description">(조회수가 높으면 rank 탭에 노출됩니다.)</span></label>
                            <div class="toggle-div">
                                <div>
                                    <input type="checkbox" id="toggle" hidden checked>
                                    <label for="toggle" class="toggleSwitch" style="margin: 0">
                                        <span class="toggleButton"></span>
                                    </label>
                                </div>
                            </div>

                            <p class="modal-warning">생성일로부터 14일간만 유지됩니다.</p>
                            <div class="modal-buttons">
                                <button type="button" class="btn btn-cancel" id="close-modal">취소</button>
                                <button type="submit" class="btn btn-submit">저장</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal-overlay" id="update-modal">
                    <div class="modal-content">
                        <h2 class="modal-title">통링 수정</h2>
                        <form id="link-update-form">
                            <label for="title">제목</label>
                            <input type="text" id="update-title" name="title" placeholder="링크 제목을 입력하세요" required maxlength="50">

                            <label for="originUrl">원본 URL</label>
                            <input type="text" id="update-originUrl" name="originUrl" placeholder="https://example.com" class="readonly" readonly>

                            <!-- New color picker -->
                            <label for="color">그래프 색상</label>
                            <input type="color" id="update-color" name="color" value="#ff0000">

                            <label>노출 여부 <span class="label-description">(조회수가 높으면 rank 탭에 노출됩니다.)</span></label>
                            <div class="toggle-div">
                                <div>
                                    <input type="checkbox" id="update-toggle" name="toggle" hidden>
                                    <label for="update-toggle" class="toggleSwitch" style="margin: 0">
                                        <span class="toggleButton"></span>
                                    </label>
                                </div>
                            </div>
                            <p class="modal-warning">생성일로부터 7일간만 유지됩니다.</p>
                            <div class="modal-buttons">
                                <button type="button" class="btn btn-delete" id="delete-modal">삭제</button>
                                <button type="submit" class="btn btn-submit">변경</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="tonglink-list"></div>

        </section>
    </main>

    <div id="refresh-icon" class="hidden">
        <div class="spinner"></div>
    </div>

    <!-- Fixed Button -->
    <div class="footer-top"></div>
    <div th:replace="fragments/footer :: footer"></div>

    <div class="loading-overlay hidden" id="loading-overlay">
        <div class="loading-spinner"></div>
    </div>
</div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', () => {

        const refreshIcon = document.getElementById('refresh-icon');
        const targetElement = document.querySelector('.app-container');

        initializePullToRefresh({
            onRefresh: () => {
                console.log('새로고침 로직 실행');
                // 서비스 워커 캐시 삭제 및 데이터 재로드
                caches.keys().then((keys) =>
                    Promise.all(keys.map((key) => caches.delete(key)))
                ).then(() => {
                    // 캐시 삭제 후 페이지 새로고침
                    window.location.reload();
                });
            },
            refreshIcon: refreshIcon,
            refreshThreshold: 300, // 트리거 임계값
            targetElement
        });

        // PWA 설치 후 실행될 로직
        window.addEventListener("appinstalled", () => {
            console.log("PWA가 설치되었습니다!");

            let userUUID = localStorage.getItem("userUUID");
            if (!userUUID) {
                // UUID가 없으면 새로 생성
                userUUID = generateUUID();
                localStorage.setItem("userUUID", userUUID);
            }

            // 서버로 UUID 전송
            sendUUIDToServerPWA(userUUID);

            // 푸시 구독 요청
            subscribeToPushNotifications(userUUID);
        });
        if (isPWA()) {
            console.log("앱이 PWA 환경에서 실행되었습니다.");
            let userUUID = localStorage.getItem("userUUID");
            if (!userUUID) {
                // UUID가 없으면 새로 생성
                userUUID = generateUUID();
                localStorage.setItem("userUUID", userUUID);
            }

            // 서버로 UUID 전송
            sendUUIDToServerPWA(userUUID);

            // 푸시 구독 요청
            subscribeToPushNotifications(userUUID);
        } else {
            console.log("앱이 브라우저에서 실행되었습니다.");
            manageUserUUID();
        }

        const userUUID = localStorage.getItem("userUUID");
        if (userUUID) {
            document.getElementById('mypageLink').href = '/mypage?uuId=' + userUUID;
        }

        /* 모달 관련 */
        const modal = document.getElementById("modal");
        const openModalButton = document.getElementById("open-modal");
        const closeModalButton = document.getElementById("close-modal");
        const form = document.getElementById("link-form");

        openModalButton.style.display = "none";
        /* Splash 관련 */
        const splashScreen = document.getElementById('splash-screen');

        /* My 통링 관련 */
        const container = document.getElementById("tonglink-list");

        // 첫 방문 여부 확인 (localStorage에 방문 여부 저장)
        const hasVisited = localStorage.getItem('hasVisited');


        if (!hasVisited) {
            // 첫 방문인 경우, 스플래시 화면 보여주기
            setTimeout(() => {
                splashScreen.classList.add('hidden'); // 스플래시 숨기기
                openModalButton.style.display = "flex";
            }, 2000); // 2초 후 스플래시 사라짐
            localStorage.setItem('hasVisited', 'true'); // 방문 여부 저장

        } else {
            // 이미 방문한 경우, 스플래시 즉시 숨김
            splashScreen.classList.add('hidden');
            openModalButton.style.display = "flex";
        }

        openModalButton.addEventListener("click", () => {
            modal.style.display = "flex"; // 모달 표시
        });

        // 모달 닫기
        closeModalButton.addEventListener("click", () => {
            modal.style.display = "none"; // 모달 숨김
            form.reset();
        });
        // 모달 닫기: 오버레이 클릭
        modal.addEventListener("click", (event) => {
            if (event.target === modal) {
                modal.style.display = "none"; // 모달 숨김
                form.reset();
            }
        });

        form.addEventListener("submit", (event) => {
            event.preventDefault(); // 기본 폼 동작 방지

            const originUrl = document.getElementById("originUrl").value;
            const title = document.getElementById("title").value;
            const color = document.getElementById("color").value;
            const isExposure = document.getElementById("toggle").checked;

            // URL 유효성 검사
            if (!/^https?:\/\//i.test(originUrl)) {
                alert("URL은 https:// 또는 http://로 시작해야 합니다.");
                return; // 유효하지 않은 경우 폼 제출 중단
            }

            const body = {
                uuId: localStorage.getItem("userUUID"),
                title: title,
                originUrl: originUrl,
                color: color,
                isExposure: isExposure
            }

            // 로딩 오버레이 표시
            showLoadingOverlay();

            saveLink(body)
                .then((newLink) => {
                    modal.style.display = "none"; // 모달 숨김

                    initInfiniteScroll(localStorage.getItem("userUUID"), container);

                    console.log("새 링크가 성공적으로 추가되었습니다.");
                })
                .catch((error) => {
                    console.error("새 링크 추가 실패:", error);
                })
                .finally(() => {
                    hideLoadingOverlay();
                    form.reset();
                });

        });
        // 초기 데이터 렌더링
        initInfiniteScroll(localStorage.getItem("userUUID"), container);

        enableDragAndDrop(container);
        const ctx = document.getElementById('stats-chart').getContext('2d');
        initializeStatisticsChart(uuId, ctx);
    });

    function isPWA() {
        return window.matchMedia("(display-mode: standalone)").matches || window.navigator.standalone === true;
    }

    function showLoadingOverlay() {
        const loadingOverlay = document.getElementById("loading-overlay");
        loadingOverlay.classList.remove("hidden"); // 오버레이 표시
    }

    function hideLoadingOverlay() {
        const loadingOverlay = document.getElementById("loading-overlay");
        loadingOverlay.classList.add("hidden"); // 오버레이 숨김
    }

    async function subscribeToPushNotifications(userUUID) {
        console.log("subscribeToPushNotifications 함수 호출됨"); // 디버깅용 로그 추가
        const vapidPublicKey = 'BKgNWTOmptj/YX96KbOfKMQElgnHfeFQJNFmCxQTX5fL2v7mn9KjjqtTR3JMa1MnfTIrKK5kDQxiy8b7lJpD67E=';

        if (Notification.permission !== 'granted') {
            console.log("알림 권한 요청 시작");
            const permission = await Notification.requestPermission();
            console.log("알림 권한 요청 결과:", permission);
            if (permission !== 'granted') {
                console.error("알림 권한이 거부되었습니다.");
                return;
            }
        }

        if ("serviceWorker" in navigator) {
            try {
                console.log("서비스 워커 등록 상태 확인 중...");
                const registration = await navigator.serviceWorker.ready; // 등록 준비 완료 대기

                const subscription = await registration.pushManager.subscribe({
                    userVisibleOnly: true,
                    applicationServerKey: urlBase64ToUint8Array(vapidPublicKey),
                });

                console.log("푸시 구독 성공:", subscription);

                // 서버로 구독 정보 전송
                await fetch('/api/push/subscribe', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        uuId: userUUID,
                        endpoint: subscription.endpoint,
                        keys: {
                            p256dh: btoa(String.fromCharCode(...new Uint8Array(subscription.getKey('p256dh')))),
                            auth: btoa(String.fromCharCode(...new Uint8Array(subscription.getKey('auth')))),
                        },
                    }),
                });

                console.log("구독 정보가 서버로 전송되었습니다.");
            } catch (error) {
                console.error("푸시 구독 실패:", error);
            }
        } else {
            console.error("서비스 워커가 지원되지 않는 환경입니다.");
        }
    }

    function urlBase64ToUint8Array(base64String) {
        const padding = '='.repeat((4 - (base64String.length % 4)) % 4);
        const base64 = (base64String + padding)
            .replace(/-/g, '+')
            .replace(/_/g, '/');
        const rawData = atob(base64);
        const outputArray = new Uint8Array(rawData.length);
        for (let i = 0; i < rawData.length; i++) {
            outputArray[i] = rawData.charCodeAt(i);
        }
        return outputArray;
    }
</script>
</html>