<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TongLink</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="android-touch-icon" sizes="72x72" th:href="@{/images/android-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/icons/icon-128x128-v2.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon-32x32.png}">
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="manifest" th:href="@{/manifest.json}">
    <script th:src="@{/js/user.js}" defer></script>
    <script th:src="@{/js/index-modal.js}" defer></script>
    <script th:src="@{/js/service-worker.js}" defer></script>
    <meta name="theme-color" content="#262626">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div id="splash-screen" class="splash-screen">
    <div class="splash-content">
        <img src="/images/tonglink-splash-white.png" alt="서비스 로고" class="splash-logo">
    </div>
</div>
<div class="app-container">


    <!-- OAuth가 true일 때만 Google 로그인 버튼 표시 -->
    <div th:if="${!isOauth}">
        <div class="google-login">
            <div class="google-login-button" onclick="startGoogleLogin()">
                <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo" class="google-icon">
                <span class="google-login-text">Sign in with Google</span>
            </div>
        </div>
        <p style="text-align: center; color: #b6b6b6; font-size: 14px;">내 통링을 다른 기기에서도 사용해보세요!</p>
    </div>

    <!-- OAuth가 false일 때만 마이페이지 내용 표시 -->
    <div th:if="${isOauth}">
        <header class="mypage-header">
            <div class="myprofile-section">
                <img src="/images/icon_profile.png" alt="프로필 이미지" class="profile-img">
                <div class="profile-info">
                    <p class="profile-email" th:text="${email}"></p>
                    <p class="signup-date">가입 날짜 : 2024-12-25</p>
                </div>
                <div>
                    <p onclick="logout()" class="logout">로그아웃</p>
                </div>
            </div>
        </header>

        <section class="summary-section">
            <div class="summary-container">
                <div class="summary-item">
                    <p class="summary-label">통링 수</p>
                    <p class="summary-value">1,000,000</p>
                </div>
                <div class="summary-item">
                    <p class="summary-label">조회 설정</p>
                    <p class="summary-value">550,000</p>
                </div>
            </div>
        </section>
    </div>


    <div class="gray-bar-wrapper">
        <div class="gray-bar"></div>
    </div>

    <section class="mypage-options">
        <h2>설정</h2>
        <div class="option-item">
            <label class="option-label" style="font-size: 14px; color: #b6b6b6;">푸시 알림</label>
            <div class="toggle-div">
                <div>
                    <input type="checkbox" id="toggle" hidden>
                    <label for="toggle" class="toggleSwitch" style="margin: 0">
                        <span class="toggleButton"></span>
                    </label>
                </div>
            </div>
        </div>
    </section>

    <section class="mypage-help">
        <h2>고객센터</h2>
        <div class="help-item">앱 설치 (PWA)</div>
        <div class="help-item">이메일 문의</div>
        <div class="help-item">광고 문의</div>
    </section>





    <!-- Fixed Button -->
    <div class="footer-top"></div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
<script type="text/javascript" th:inline="javascript">
    var UUID = /*[[ ${UUID} ]]*/;

    document.addEventListener('DOMContentLoaded', () => {
        /* Splash 관련 */
        const splashScreen = document.getElementById('splash-screen');

        // 첫 방문 여부 확인 (localStorage에 방문 여부 저장)
        const hasVisited = localStorage.getItem('hasVisited');


        if (!hasVisited) {
            // 첫 방문인 경우, 스플래시 화면 보여주기
            setTimeout(() => {
                splashScreen.classList.add('hidden'); // 스플래시 숨기기
            }, 2000); // 2초 후 스플래시 사라짐
            localStorage.setItem('hasVisited', 'true'); // 방문 여부 저장

        } else {
            // 이미 방문한 경우, 스플래시 즉시 숨김
            splashScreen.classList.add('hidden');
        }

        if(UUID != null) {
            localStorage.setItem("userUUID", UUID);
        }

        const userUUID = localStorage.getItem("userUUID");
        if (userUUID) {
            document.getElementById('mypageLink').href = '/mypage?uuId=' + userUUID;
        }
    });

    function startGoogleLogin() {
        const userUUID = localStorage.getItem("userUUID");
        window.location.href = `/oauth2/authorization/google?userUUID=${userUUID}`;
    }

    function logout() {
        userUUID = generateUUID();
        localStorage.setItem("userUUID", userUUID);
        window.location.href = `/logout`;
    }
</script>
</html>