<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TongLink</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="android-touch-icon" sizes="72x72" th:href="@{/images/android-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/icons/icon-128x128-v2.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon-32x32.png}">
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="manifest" th:href="@{/manifest.json}">
    <meta property="og:title" content="TongLink" />
    <meta property="og:description" content="링크의 새로운 시작, 더 많은 가치를 만들어 보세요!" />
    <meta property="og:image" content="https://app.tonglink.site/images/preview.png" />
    <meta property="og:url" content="https://app.tonglink.site/mypage" />
    <meta property="og:type" content="website" />
    <script th:src="@{/js/user.js}" defer></script>
    <script th:src="@{/js/pwa-banner.js}" defer></script>
    <script th:src="@{/js/reload.js}" defer></script>
    <script th:src="@{/js/index-modal.js}" defer></script>
    <script th:src="@{/js/service-worker.js}" defer></script>
    <meta name="theme-color" content="#262626">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1822641679426792"
            crossorigin="anonymous"></script>
    <meta name="google-adsense-account" content="ca-pub-1822641679426792">
</head>
<body>
<div class="app-container">

    <main class="main-content">
        <!-- OAuth가 true일 때만 Google 로그인 버튼 표시 -->
        <div id="noOauth">
            <div class="google-login">
                <div class="google-login-button" onclick="startGoogleLogin()">
                    <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo" class="google-icon">
                    <span class="google-login-text">Sign in with Google</span>
                </div>
            </div>
            <p style="text-align: center; color: #b6b6b6; font-size: 14px;">내 통링을 다른 기기에서도 사용해보세요!</p>
        </div>

        <!-- OAuth가 false일 때만 마이페이지 내용 표시 -->
        <div id="oauth">
            <header class="mypage-header">
                <div class="myprofile-section">
                    <img src="/images/icon_profile.png" alt="프로필 이미지" class="profile-img">
                    <div class="profile-info">
                        <p class="profile-email" th:text="${email}"></p>
                        <p class="signup-date">가입 날짜 : 2024-12-25</p>
                    </div>
                    <div>
                        <p onclick="logout()" class="logout">로그아웃</p>
                    </div>
                </div>
            </header>

            <section class="summary-section">
                <div class="summary-container" id="summary-container">
                </div>
            </section>
        </div>


        <div class="gray-bar-wrapper">
            <div class="gray-bar"></div>
        </div>

        <section class="mypage-options">
            <h2>설정</h2>
            <div class="option-item">
                <label class="option-label" style="font-size: 14px; color: #b6b6b6;">푸시 알림</label>
                <div class="toggle-div">
                    <div>
                        <input type="checkbox" id="toggle" hidden>
                        <label for="toggle" class="toggleSwitch" style="margin: 0">
                            <span class="toggleButton"></span>
                        </label>
                    </div>
                </div>
            </div>
        </section>

        <section class="mypage-help">
            <h2>고객센터</h2>
            <div id="install-pwa" class="help-item">앱 설치 (PWA)</div>
            <div class="help-item">이메일 문의</div>
            <div class="help-item">광고 문의</div>
        </section>


    </main>



    <div id="refresh-icon" class="hidden">
        <div class="spinner"></div>
    </div>

    <div class="legal-links">
        <a href="/terms-of-service" target="_blank" rel="noopener noreferrer">이용약관</a>
        <a href="/privacy-policy" target="_blank" rel="noopener noreferrer">개인정보처리방침</a>
    </div>

    <!-- Fixed Button -->
    <div class="footer-top"></div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
<div class="pwa-overlay hidden">
    <div class="pwa-banner">
        <div class="modal--default mt-5">
            <button class="close-button" id="close-banner" aria-label="닫기">&times;</button>
            <div class="modal--default--tit">
                <h3>TongLink 설치하기</h3>
                <div>
                    <img style="width: 100%" src="/images/push_example.jpg" alt="서비스 로고" class="splash-logo">
                </div>
                <p>앱을 설치하시면 푸시알림을 받아보실 수 있습니다!</p>
            </div>
            <div class="modal--default--link mt-10" id="install-container">
                <button type="button" id="install-button" class="install-button">
                    <p>앱 설치하기</p>
                </button>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:inline="javascript">
    var UUID = /*[[ ${UUID} ]]*/;
    var isPushEnabled = /*[[ ${isPushEnabled} ]]*/;
    const token = localStorage.getItem("token");

    document.addEventListener('DOMContentLoaded', async () => {

        if ("serviceWorker" in navigator) {
            navigator.serviceWorker.register("/js/service-worker.js")
                .then(() => console.log("Service Worker 등록 성공"))
                .catch((error) => console.error("Service Worker 등록 실패:", error));
        }


        const refreshIcon = document.getElementById('refresh-icon');
        const targetElement = document.querySelector('.app-container');
        const toggle = document.getElementById("toggle");

        initializePullToRefresh({
            onRefresh: () => {
                console.log('새로고침 로직 실행');
                // 서비스 워커 캐시 삭제 및 데이터 재로드
                caches.keys().then((keys) =>
                    Promise.all(keys.map((key) => caches.delete(key)))
                ).then(() => {
                    // 캐시 삭제 후 페이지 새로고침
                    window.location.reload();
                });
            },
            refreshIcon: refreshIcon, // 새로고침 아이콘
            refreshThreshold: 300,   // 트리거 임계값 (기본값: 800)
            targetElement
        });

        // URL에서 쿼리 파라미터 가져오기
        const urlParams = new URLSearchParams(window.location.search);
        const firstLogin = urlParams.get('firstLogin');

        if (UUID != null) {
            localStorage.setItem("userUUID", UUID);
            console.log("1번");
        } else {
            // UUID가 없으면 새로 생성
            let userUUID = localStorage.getItem("userUUID");

            if (!userUUID) {
                // UUID가 없으면 새로 생성
                userUUID = generateUUID();
                localStorage.setItem("userUUID", userUUID);
                sendUUIDToServer(userUUID);
            }
            console.log("2번");

        }

        const userUUID = localStorage.getItem("userUUID");
        if (userUUID) {
            document.getElementById('mypageLink').href = '/mypage?uuId=' + userUUID;
        }

        if (token) {
            try {
                // 토큰이 있으면 fetchUserInfo 호출
                const userDataDto = await fetchUserInfo(userUUID);
                console.log("User Data DTO:", userDataDto);
                document.getElementById('toggle').checked = userDataDto.isPushEnabled;

                // 로그인 상태 UI 렌더링
                showLoggedInUI(userDataDto, userUUID);
            } catch (error) {
                console.error("유저 정보를 불러오는 중 오류 발생:", error);
                showLoginUI();
            }
        } else {
            // 토큰이 없으면 로그인 UI 표시
            showLoginUI();
        }


        const installPwa = document.getElementById('install-pwa');
        toggle.addEventListener("change", async () => {

            if (toggle.checked) {
                console.log("알림 권한 요청 중...");

                // 알림 권한 요청
                if ("Notification" in window) {
                    const permission = await Notification.requestPermission();
                    if (permission === "granted") {
                        console.log("알림 권한이 허용되었습니다.");
                        // 푸시 구독 로직 실행 (필요 시 추가)
                        subscribeToPushNotifications(userUUID);
                    } else if (permission === "denied") {
                        console.error("알림 권한이 거부되었습니다.");
                    } else {
                    }
                } else {
                    console.error("브라우저가 알림을 지원하지 않습니다.");
                }
            } else {
                console.log("알림 권한 요청을 취소했습니다.");
                switchNotificationSetting(false);

            }
        });

        installPwa.addEventListener("click", () => {
            initPwaBanner(true);
        })
    });

    function startGoogleLogin() {
        const userUUID = localStorage.getItem("userUUID");
        window.location.href = `/oauth2/authorization/google?userUUID=${userUUID}`;
    }

    function logout() {
        userUUID = generateUUID();
        localStorage.setItem("userUUID", userUUID);
        localStorage.removeItem("token");
        window.location.href = `/logout`;
    }

    async function subscribeToPushNotifications(userUUID) {
        console.log("subscribeToPushNotifications 함수 호출됨"); // 디버깅용 로그 추가
        const vapidPublicKey = 'BARrQjq3jZihZOhyBfF2qTR_8d30VTEzLRpG7PiNbadH8MI6fHq_P2XyMIZtpoj9EO7oPbeRL8KHn7GxjZr0_Jg';

        if (Notification.permission !== 'granted') {
            console.log("알림 권한 요청 시작");
            const permission = await Notification.requestPermission();
            console.log("알림 권한 요청 결과:", permission);
            if (permission !== 'granted') {
                console.error("알림 권한이 거부되었습니다.");
                return;
            }
        }

        if ("serviceWorker" in navigator) {
            try {
                console.log("서비스 워커 등록 상태 확인 중...");

                navigator.serviceWorker.register("/js/service-worker.js")
                    .then((registration) => {
                        console.log("서비스 워커 등록 성공:", registration);

                        // 기존 구독 확인
                        return registration.pushManager.getSubscription()
                            .then((existingSubscription) => {
                                if (existingSubscription) {
                                    // 기존 구독 취소
                                    console.log("기존 푸시 구독 삭제 중...");
                                    return existingSubscription.unsubscribe().then(() => {
                                        console.log("기존 푸시 구독 삭제 완료");
                                    });
                                }
                            })
                            .then(() => registration); // 기존 구독 삭제 후 새 등록을 위해 반환
                    })
                    .then((registration) => {
                        // 새 구독 생성
                        console.log("새 푸시 구독 생성 중...");
                        return registration.pushManager.subscribe({
                            userVisibleOnly: true,
                            applicationServerKey: urlBase64ToUint8Array(vapidPublicKey),
                        });
                    })
                    .then((subscription) => {
                        console.log("새 푸시 구독 성공:", subscription);

                        // 서버로 구독 정보 전송
                        return fetch('/api/push/subscribe', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({
                                uuId: userUUID,
                                endpoint: subscription.endpoint,
                                keys: {
                                    p256dh: btoa(String.fromCharCode(...new Uint8Array(subscription.getKey('p256dh')))),
                                    auth: btoa(String.fromCharCode(...new Uint8Array(subscription.getKey('auth')))),
                                },
                            }),
                        });
                    })
                    .then(() => {
                        console.log("구독 정보가 서버로 전송되었습니다.");
                    })
                    .catch((error) => {
                        console.error("푸시 구독 처리 중 오류 발생:", error);
                    });
            } catch (error) {
                console.error("푸시 구독 실패:", error);
            }
        } else {
            console.error("서비스 워커가 지원되지 않는 환경입니다.");
        }
    }


    function urlBase64ToUint8Array(base64String) {
        const padding = '='.repeat((4 - base64String.length % 4) % 4);
        const base64 = (base64String + padding)
            .replace(/\-/g, '+')
            .replace(/_/g, '/');
        const rawData = window.atob(base64);
        const outputArray = new Uint8Array(rawData.length);
        for (let i = 0; i < rawData.length; ++i) {
            outputArray[i] = rawData.charCodeAt(i);
        }
        return outputArray;
    }

    function switchNotificationSetting(isPushEnabled) {
        fetch('/api/user/switch/push', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                uuId: localStorage.getItem("userUUID"),
                isPushEnabled: isPushEnabled
            }),
        });
    }

    function fetchTotalCount(uuId) {

        fetch(`/api/link/${uuId}/total`, {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
            },
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('네트워크 응답에 문제가 있습니다.');
                }
                return response.json();
            })
            .then(result => renderTotalCount(result.data))
    }

    function renderTotalCount(data) {
        const container = document.getElementById("summary-container");

        try {
            // Clear the container
            container.innerHTML = '';

            // Create the summary HTML
            const div = `
            <div class="summary-item">
                <p class="summary-label">통링 수</p>
                <p class="summary-value">${data.linkCount.toLocaleString()}</p>
            </div>
            <div class="summary-item">
                <p class="summary-label">조회 수</p>
                <p class="summary-value">${data.visitCount.toLocaleString()}</p>
            </div>
        `;
            container.insertAdjacentHTML('beforeend', div);
        } catch (error) {
            console.error("Failed to render total count:", error);
            container.innerHTML = `<p>데이터를 불러오는 중 오류가 발생했습니다.</p>`;
        }
    }

    function isPWA() {
        return window.matchMedia("(display-mode: standalone)").matches || window.navigator.standalone === true;
    }

    // 로그인 상태 UI 표시 함수
    function showLoggedInUI(userDataDto, userUUID) {
        // 로그인 UI를 숨기고 마이페이지 UI를 표시
        document.querySelector('#noOauth').style.display = 'none';
        const loggedInSection = document.querySelector('#oauth');
        loggedInSection.style.display = 'block';

        // 유저 데이터 업데이트
        document.querySelector('.profile-email').textContent = userDataDto.email || "Unknown";
        document.querySelector('.signup-date').textContent = `가입 날짜 : ${userDataDto.createdDate || "Unknown"}`;

        // Summary 데이터 렌더링
        fetchTotalCount(userUUID);
    }

    // 로그인 UI 표시 함수
    function showLoginUI() {
        // 마이페이지 UI를 숨기고 로그인 UI를 표시
        document.querySelector('#noOauth').style.display = 'block';
        document.querySelector('#oauth').style.display = 'none';
    }
</script>
</html>