<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TongLink</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="android-touch-icon" sizes="72x72" th:href="@{/images/android-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/icons/icon-128x128-v2.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon-32x32.png}">
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="manifest" th:href="@{/manifest.json}">
    <meta property="og:title" content="TongLink" />
    <meta property="og:description" content="링크의 새로운 시작, 더 많은 가치를 만들어 보세요!" />
    <meta property="og:image" th:href="@{/images/previw.png}" />
    <meta property="og:url" content="https://app.tonglink.site/rank" />
    <meta property="og:type" content="website" />
    <script th:src="@{/js/user.js}" defer></script>
    <script th:src="@{/js/reload.js}" defer></script>
    <script th:src="@{/js/index-modal.js}" defer></script>
    <script th:src="@{/js/popular-tonglink-list.js}" defer></script>
    <script th:src="@{/js/service-worker.js}" defer></script>
    <meta name="theme-color" content="#262626">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1822641679426792"
            crossorigin="anonymous"></script>
    <meta name="google-adsense-account" content="ca-pub-1822641679426792">
</head>
<body>
<div class="app-container">
    <main class="main-content">
        <section class="profile-section">
            <div class="header-logo" style="align-items: center;">
                <img src="/images/tonglink-logo-white.png" alt="서비스명 로고" class="header&#45;&#45;logo-img">
                <h2>통링 랭킹</h2>
            </div>
            <p class="profile-subtitle">인기있는 링크 TOP100을 모아봤어요! 🥳 <br></p>
            <p class="profile-description"></p>
        </section>
        <section class="popular-section" style="margin-top: 30px;">
            <div id="tonglink-list"></div>

        </section>
    </main>





    <div id="refresh-icon" class="hidden">
        <div class="spinner"></div>
    </div>
    <!-- Fixed Button -->
    <div class="footer-top"></div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
<script>

    document.addEventListener('DOMContentLoaded', () => {
        /* My 통링 관련 */
        const container = document.getElementById("tonglink-list");

        const refreshIcon = document.getElementById('refresh-icon');
        const targetElement = document.querySelector('.app-container');

        initializePullToRefresh({
            onRefresh: () => {
                console.log('새로고침 로직 실행');
                // 서비스 워커 캐시 삭제 및 데이터 재로드
                caches.keys().then((keys) =>
                    Promise.all(keys.map((key) => caches.delete(key)))
                ).then(() => {
                    // 캐시 삭제 후 페이지 새로고침
                    window.location.reload();
                });
            },
            refreshIcon: refreshIcon, // 새로고침 아이콘
            refreshThreshold: 300,   // 트리거 임계값 (기본값: 800)
            targetElement
        });


        const userUUID = localStorage.getItem("userUUID");
        if (userUUID) {
            document.getElementById('mypageLink').href = '/mypage?uuId=' + userUUID;
        }


        initPopularInfiniteScroll(localStorage.getItem("userUUID"), container);

    });

</script>
</html>