<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TongLink</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="android-touch-icon" sizes="72x72" th:href="@{/images/android-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/icons/icon-128x128-v2.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon-32x32.png}">
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="manifest" th:href="@{/manifest.json}">
    <script th:src="@{/js/user.js}" defer></script>
    <script th:src="@{/js/reload.js}" defer></script>
    <script th:src="@{/js/index-modal.js}" defer></script>
    <script th:src="@{/js/tonglink-list.js}" defer></script>
    <script th:src="@{/js/service-worker.js}" defer></script>
    <meta name="theme-color" content="#262626">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div class="app-container">
    <h2 style="color: #fff">rank</h2>

    <div id="refresh-icon" class="hidden">
        <div class="spinner"></div>
    </div>
    <!-- Fixed Button -->
    <div class="footer-top"></div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
<script>

    document.addEventListener('DOMContentLoaded', () => {

        const refreshIcon = document.getElementById('refresh-icon');
        const targetElement = document.querySelector('.app-container');

        initializePullToRefresh({
            onRefresh: () => {
                alert('새로고침 실행');
            },
            refreshIcon: refreshIcon, // 새로고침 아이콘
            refreshThreshold: 800,   // 트리거 임계값 (기본값: 800)
            targetElement
        });


        const userUUID = localStorage.getItem("userUUID");
        if (userUUID) {
            document.getElementById('mypageLink').href = '/mypage?uuId=' + userUUID;
        }
    });


</script>
</html>